{% extends 'base.html' %}
{% block title %} Contest - {{ contest.name }} {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li class="current_page_item"><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/demo_table.css">
<link type="text/css" rel="stylesheet" href="/static/jquery.countdown.css">
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.countdown.js"></script>

<script type="text/javascript">
function clock(time) {
   var austDay = new Date(time);
   $('.defaultCountdown').countdown({until: austDay, format: 'HMS',description:"to end of contest",
         expiryText:"Contest has ended",alwaysExpire:true});
   $('#year').text(austDay.getFullYear());
}
</script>
{% endblock %}

{% block content %}
<h2 class="title"><a href="/contest">Contest</a> - <a href="{{ request.path }}">{{ contest.name }}</a></h2>
<div id="entry">
	<h3>Problems - <a href="ranking">View Ranking</a></h3>
	<br>
	<br>
	{% if contest.isActice %}
	<table class ="display">
		<thead>
			<th>Code</th>
			<th>Title</th>
			<th>Submissions</th>
			<th>Succ</th>
			{% if solved_problem %}
			<th>Status</th>
			{% endif %}

		</thead>
		<tbody>
			{% for problem in contest.problems.all %}
			<tr class="gradeA">
				<td>{{ problem.code }}</td>
				<td><a href="/contest/{{contest.code}}/problem/{{ problem.code }}/">{{ problem.title }}</a></td>
				{% if problem.id in no_of_submissions %}
					{% for key, value in no_of_submissions.items %}
					
					{% if key == problem.id %}
					<td>{{value}}</td>
					{% endif %}

					{% endfor %}
				{% else %}
					<td> 0 </td>
				{% endif %}
				
				
				{% if problem.id in succ_submissions %}
					{% for key, value in succ_submissions.items %}
					
					{% if key == problem.id %}
					<td>{{value}}</td>
					{% endif %}

					{% endfor %}
				{% else %}
					<td> 0 </td>
				{% endif %}
				
				{% if solved_problem %}
				{% if problem.id in solved_problem %}
				<td> Solved </td>
				{% else %}
				<td> Unsolved </td>
				{% endif %}
				{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h3> Contest has not started yet! </h3>
	{% endif %}
</div>
{% endblock %}

{% block sidebar %}
<h2>
<div class="defaultCountdown">
<script type="text/javascript">
clock("{{contest.endTime.isoformat}}");
</script>
</div>
	{% if request.user.is_authenticated %}
	<a href="/submission/contest/{{ contest.code }}/{{ request.user}}/">My Submission</a>&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}<a href="/submission/contest/{{ contest.code }}/">All Submission</a></h2>
{% if contest_recent_activity.count > 0 %}
<h2> Contest Activity</h2>
{% include 'judge/contest/contest_recent_activity.html' %}
{% endif %}

<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

