{% extends 'base.html' %}
{% block title %} Practice {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li class="curren_page_item"><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function(){
		    // Initalize DataTables on <table> tag with id="example"
			        $('#example').dataTable();  
			});
</script>

<link type="text/css" rel="stylesheet" href="http://www.datatables.net/release-datatables/media/css/demo_table.css">
{% endblock %}

{% block content %}
<h2 class="title"><a href="/contest/{{ contest.code}}">{{ contest.name }}</a> - Ranking</h2>
<div id="entry">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
		<thead>
			<th> Rank </th>
			<th> User </th>
			<th> Score </th>
			<th> Penalty </th>
		</thead>
		<tbody>
		{% for rank in ranks %}
		<tr class="gradeA">
			<td>{{ forloop.counter }} </td>
			<td><a href="/account/{{ rank.user.username }}/">{{ rank.user }}</a></td>
			<td>{{ rank.score}} </td>
			<td>{{ rank.penalty }} </td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

