{% extends 'base.html' %}
{% block title %} Practice {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li class="current_page_item"><a href="/practice">Practice</a></li>
{% endblock %}

{% block content %}
<h2 class="title"><a href="/contest/{{ contest.code }}/">{{ contest.name }}</a> - <a href="/contest/{{ contest.code }}/problem/{{problem.code}}/">{{problem.title}}</a> - <a href="{{ request.path }}">Submit</a></h2>
<div id="entry">
	<form method="post" action="{{ request.path }}"  enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		{{ form.userCode.errors }}

		<input type="submit" value="Submit"/>
	</form>
</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}
