<table id="hor-minimalist-b">
	<thead>
	<tr>
		<th>Code</th>
		<th>Username</th>
		<th>Result</th>
	</tr>
	</thead>
	<tbody>
	{% for submission in recent_activity %}
		<tr>
                        {% if submission.contest_id %}
			<td><a href="/{{ submission.contest_id }}/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
			{% else %}
			<td><a href="/practice/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
			{% endif %}
			<td><a href="/account/{{ submission.user. }}/">{{ submission.user }}</a></td>
			<td>{{ submission.status }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>

