{% extends 'base.html' %}
{% block title %} Contest {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/core.js"></script>
<script type="text/javascript" src="/static/SelectBox.js"></script>
<script type="text/javascript" src="/static/actions.js"></script>
<script type="text/javascript" src="/static/js1n.js"></script>
<script type="text/javascript" src="/static/admint/RelatedObjectLookups.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.init.js"></script>
<link rel="stylesheet" type="text/css" href="/static/widgets.css" >
{% endblock %}


{% block content %}
<h2 class="title"><a href="{{ request.path }}">Author - Add Problem</a></h2>
<div id="entry">
	<form method="POST"  enctype="multipart/form-data" action="{{ request.path }}">
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}
		<h3> test cases </h3>
		<div id="form_set">
		<table>
		{{ tformset.management_form }}
               {% for form in tformset %}
               {{ form }}
               {% endfor %}
               </table>
               </div>
               <input type="button" value="Add another test file" id="add_more">
               <div id="empty_form" style="display:none">
               <table class='no_error'>
               {{ tformset.empty_form.as_table }}
               </table>
               </div>
               <script>
               $('#add_more').click(function() {
                  var form_idx = $('#id_form-TOTAL_FORMS').val();
                  //alert(form_idx);
                  var newelem=$('#empty_form').html();
                  $('#form_set').append(newelem.replace(/__prefix__/g, form_idx));
                  $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
               });
               </script>
               <br>
		<input type="submit" value="Add">
	</form>

</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

