{% extends 'base.html' %}
{% block title %} Contest {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/SelectFilter2.js"></script>
<script type="text/javascript" src="/static/core.js"></script>
<script type="text/javascript" src="/static/SelectBox.js"></script>
<script type="text/javascript" src="/static/actions.js"></script>
<script type="text/javascript" src="/static/js1n.js"></script>
<script type="text/javascript" src="/static/admint/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.init.js"></script>
<link rel="stylesheet" type="text/css" href="/static/widgets.css" >
{% endblock %}


{% block content %}
<h2 class="title"><a href="{{ request.path }}">Author - Add Problem</a></h2>
<div id="entry">
	<form method="POST"  enctype="multipart/form-data" action="{{ request.path }}">
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}

		<input type="submit" value="Add">
	</form>

</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

