{% extends 'base.html' %}
{% block title %} Author {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<script type="text/javascript" src="/static/jquery.js"></script>
{% endblock %}

{% block content %}
<h2 class="title"><a href="{{ request.path }}">Author - Edit Problem - {{ problem.title }}</a></h2>
<div id="entry">
	<form method="POST"  enctype="multipart/form-data" action="{{ request.path }}">
		{% csrf_token %}
		{{ form.media }}
		{{ form.as_p }}
		<h3>add new test cases </h3>
		<div id="form_set">
		<table>
		{{ testCase }}
		{{ tformset.management_form }}
		{% for form in tformset %}
		{{ form }}
		{% endfor %}
		</table>
		</div>
		<input type="button" value="Add another test file" id="add_more">
		<div id="empty_form" style="display:none">
		<table class='no_error'>
		{{ tformset.empty_form.as_table }}
		</table>
		</div>
		<script>
		$('#add_more').click(function() {
                   var form_idx = $('#id_form-TOTAL_FORMS').val();
                   //alert(form_idx);
                   var newelem=$('#empty_form').html();
                   $('#form_set').append(newelem.replace(/__prefix__/g, form_idx));
                   $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
                });
                </script>
                <br>
		<input type="submit" value="Save">
	</form>
	<form method="POST"  enctype="multipart/form-data" action="{{ request.path }}">
	<h3> current testcase </h3>
	{% for pk in testcase %}
	<a href="/author/problem/edit/{{problem.code}}/delete/{{pk}}"> delete this test file </a><br><br>
	<a href="/author/problem/edit/{{problem.code}}/download/{{pk}}">inputfile</a><br>
	<a href="/author/problem/edit/{{problem.code}}/download/{{pk}}">outputfile</a><br><br>
	{% endfor %}
	</form>

</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

