{% extends 'base.html' %}
{% block title %} My Submissions {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}
{% block head %}
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/jquery.dataTables.js"></script>
<script>
	$(document).ready(function(){
		// Initalize DataTables on <table> tag with id="example"
			$('#example').dataTable();  
		});
</script>
<link type="text/css" rel="stylesheet" href="/static/demo_table.css">
{% endblock %}


{% block content %}
<h2 class="title"><a href="{{ request.path }}">Submission</a>{% if user_name %} - <a href="/account/{{ user_name }}/"> {{ user_name }}</a>{% endif %} {% if contest_code %} - <a href="/contest/{{ contest_code }}"> {{ contest_code }}</a>{% endif %} {% if problem_code %} - {{ problem_code }} {% endif %} </h2>
<div id="entry">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
         <thead>
		 <tr>
			 <th>Sub id</th>
			 <th>Date</th>
			 <th>User Name</th>
			 <th>Code</th>
			 <th>Language</th>
			 <th>Time</th>
			 <th>Result</tih>
		 </tr>
	 </thead>
	 <tbody>
		 {% for submission in submissions %}
		 <tr class="gradeA">
			 <td><a href="/submission/view/{{submission.id }}/">{{ submission.id }}</a></td>
			 <td>{{ submission.date|date:"d M Y P" }}</td>
			<td><a href="/account/{{ submission.user }}/">{{ submission.user }}</a></td>
			{% if submission.contest_id %}
			 <td><a href="/contest/{{ submission.contest.code }}/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
                        {% else %}
                        <td><a href="/practice/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
			{% endif %}
			 <td>{{ submission.language.name }}</td>
			 {% if submission.time > 0 %}
			 <td>{{ submission.time }}</td>
			 {% elif submission.time = 0 %}
			 <td>0.00</td>
			 {% else %}
			 <td>- </td>
			 {% endif %}
			 <td>{{ submission.get_status_display }}</td>
		 </tr>
		{% endfor %}
	<tbody>
	</table>
</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

