{% extends 'base.html' %}
{% block title %} My Submissions {% endblock %}

{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}
{% block head %}
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.js"></script>
<script type="text/javascript" language="javascript" src="http://datatables.net/release-datatables/media/js/jquery.dataTables.js"></script>
<script>
	$(document).ready(function(){
		// Initalize DataTables on <table> tag with id="example"
			$('#example').dataTable();  
		});
</script>
<link type="text/css" rel="stylesheet" href="http://www.datatables.net/release-datatables/media/css/demo_table.css">
{% endblock %}


{% block content %}
<h2 class="title"><a href="{{ request.path }}">Submission - {{ request.user.username }}</a></h2>
<div id="entry">
	<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
         <thead>
		 <tr>
                        <th>sub id</th>
			 <th>Code</th>
			 <th>Title</th>
			 <th>time</th>
			 <th>Result</th>
		 </tr>
	 </thead>
	 <tbody>
		 {% for submission in submissions %}
		 <tr class="gradeA">
                        <td><a href="/submission/view/{{submission.id }}/">{{ submission.id }}</a></td>
			 {% if submission.contest_id %}
                        <td><a href="/contest/{{ submission.contest.code }}/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
                        {% else %}
                        <td><a href="/practice/problem/{{ submission.problem.code }}/">{{ submission.problem.code }}</a></td>
                        {% endif %}
			 <td>{{ submission.problem.title }}</td>
			 <td>{{ submission.time }}</td>
			 <td>{{ submission.status }}</td>
		 </tr>
		{% endfor %}
	<tbody>
	</table>
</div>
{% endblock %}

{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

