<html>
	<head>
		 {% load staticfiles %}
		 <link type="text/css" rel="stylesheet" href="{% static "style.css" %}" media="screen">
		 <link href="http://fonts.googleapis.com/css?family=Dancing+Script|Oswald" rel="stylesheet" type="text/css" />
		 <link type="text/css" rel="stylesheet" href="{% static "table-style.css" %}">
		 {% block head %} {% endblock %}
		<title> Project a.out - {% block title %} {% endblock %} </title>
	</head>
	<body>
		<div id="wrapper">
			<div id="menu-wrapper">
			<nav>
			<ul>
					{% block menu_buttons %} {% endblock %}
					{% if request.user.is_authenticated %}
					{% for group in request.user.groups.all %}
					{% if group.name == 'Authors' %}
					<li><a href="/author/problem">Author</a>
					<ul>
						<li><a href="/author/problem">Problem</a></li>
						<li><a href="/author/contest">Contest</a></li>
					</ul>
					{% endif %}
					{% endfor %}
					</li>
					<li><a href="/account/{{ request.user.username }}">{{ request.user }}</a>
					    <ul>
						    <li><a href="/account/{{ request.user.username }}">view profile</a></li>
						    <li><a href="/submission/{{ request.user.username }}/">Submissions</a></li>
						    <li><a href="/account/logout?next={{ request.path }}">Logout</a></li>
					     </ul>	    	
					</li>
					{% else %}
					<li><a href="/account/login?next={{request.path}}">Login</a></li>
					{% endif %}
				</ul>
				</nav>
			</div>
			<div id="logo" class="container">
				<h1><a href="#">A.out</a></h1>
				<p>Amrita Online Judge</p>
			</div>
			<div id="page" class="container">
				<div id="content">
					<div class="post">
						{% block content %}
						{% endblock %}
					</div>
					<br><br>
					{% block comments %}
					{% endblock %}
				</div>
				<div id="sidebar">
					{% block sidebar %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div id="footer">
			<p>Copyright 2013. All rights reserved.</p>
		</div>
	</body>
</html>
