{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/form-style.css">
{% endblock %}

{% block content %}
<h2 class="title">Profile Page - <a href="#">{{ required_user.username }}</a></h2>
<div id="entry">
	<div id="profileView">
	{% csrf_token %}
	{% if required_user.username == request.user.username %}
	<a href="/account/{{required_user.username}}/edit">Edit profile</a>
	{% endif %}
	<div class="field">
		<p class="label"> Username: </p>
		<p class="value"> {{ required_user.username }} </p>
	</div>

	<div class="field">
		<p class="label"> First Name: </p>
		<p class="value"> {{ required_user.first_name }} </p>
	</div>

	<div class="field">
		<p class="label"> Last Name: </p>
		<p class="value"> {{ required_user.last_name }} </p>
	</div>

	<div class="field">
		<p class="label"> Email: </p>
		<p class="value"> {{ required_user.email }} </p>
	</div>
	</div>
</div>
{% endblock %}
{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

