{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block content %}
<h2 class="title">Profile Page - <a href="#">{{ user.username }}</a></h2>
<div id="entry">
	<form method="post" action="{{ request.path }}">
	{% csrf_token %}
	<table>
		<tr>
			<td> Username </td>
			<td>{{ user.username }}</td>
		</tr>
		<tr>
			<td> First Name </td>
			<td><input type="text" name="first_name" value="{{ user.first_name }}"></td>
		</tr>
		<tr>
			<td> Last Name </td>
			<td><input type="text" name="last_name" value="{{ user.last_name }}"> </td>
		</tr>
		<tr>
			<td> Email: </td>
			<td><input type="text" name="email" value="{{ user.email }}"> </td>
		</tr>
		<tr>
			<td><input type="submit" value="Save"></td>
		</tr>
	</table>
</div>
{% endblock %}
{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

