{% extends "base.html" %}
{% block title %} {{ user.username }} {% endblock %}
{% block menu_buttons %}
<li><a href="/">Home</a></li>
<li><a href="/contest">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block head %}
<link type="text/css" rel="stylesheet" href="/static/form-style.css">
{% endblock %}

{% block content %}
<h2 class="title">Profile Page - <a href="#">{{ user.username }}</a></h2>
<div id="entry">
	<form method="post" action="{{ request.path }}" id="profileForm">
	{% csrf_token %}
	<div class="field">
		<label for="username">Username:</label>
		<input type="text" id="username" disabled="true" value="{{ user.username }}">
		<p class="hint"> Cannot change username</p>
	</div>
	<div class="field">
		<label for="first_name">First Name:</label>
		<input type="text" name="first_name" value="{{ user.first_name }}">
		<p class="hint"> Enter your first name</p>
	</div>	
	<div class="field">
		<label for="last_name">Last Name:</label>
		<input type="text" name="last_name" value="{{ user.last_name }}">
		<p class="hint"> Enter your last name</p>
	</div>

	<div class="field">
		<label for="email">Email:</label>
		<input type="email" name="email" value="{{ user.email }}">
		<p class="hint"> Enter your email address</p>
	</div>
	<input type="submit" value="Save" class="button"></td>
	</form>
</div>
{% endblock %}
{% block sidebar %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}
{% endblock %}

