{% extends "base.html" %}
{% block title %} Homepage {% endblock %}

{% block menu_buttons %}
<li class="current_page_item"><a href="#">Home</a></li>
<li><a href="#">Contest</a></li>
<li><a href="/practice">Practice</a></li>
{% endblock %}

{% block content %}
<h2 class="title"><a href="#">Home Page</a></h2>
<div id="entry">
	<p> This is the homepage
	</p>
</div>
{% endblock %}

{% block sidebar %}
{% if user.is_authenticated and submissions.count > 0%}
<h2> My Submission </h2>
{% include 'judge/base_submission.html' %}
{% endif %}
<h2> Recent Activity</h2>
{% include 'judge/recent_activity.html' %}

{% endblock %}
