<html>
	<head>
		 {% load staticfiles %}
		 <link type="text/css" rel="stylesheet" href="{% static "style.css" %}" media="screen">
		 <link href="/static/googlefont.css" rel="stylesheet" type="text/css" />
		 <title> Project a.out - New user </title>
	</head>
	<body>
		<div id="wrapper">
			<div id="menu-wrapper">
	 		</div>
			<div id="logo" class="container">
				<h1><a href="#">A.out</a></h1>
				<p>Amrita Online Judge</p>
			</div>
			<div id="register" class="container">
			<form method="post" action="{{ request.path }}">
				{% csrf_token %}
				{{ msg }}
				 {{ form.media }}
				 {{ form.as_p }}
				 <script type="text/javascript"  
                                 src="http://api.recaptcha.net/challenge?k=6LewetwSAAAAAH8K9kdkJ-kdD83NE6cIhCCRXIpD">  
                                 </script>  
                                 
                                 <noscript>  
                                 <iframe src="http://api.recaptcha.net/noscript?k=6LewetwSAAAAAH8K9kdkJ-kdD83NE6cIhCCRXIpD"  
                                 height="300" width="500" frameborder="0"></iframe><br>  
                                 <textarea name="recaptcha_challenge_field" rows="3" cols="40">  
                                 </textarea>  
                                 <input type="hidden" name="recaptcha_response_field"   
                                 value="manual_challenge">  
                                 </noscript>  
			  	<input type="submit" value="register" tabindex="4">
			 </form>
	 		</div>
		</div>
		<div id="footer">
			<p>Copyright 2013. All rights reserved.</p>
		</div>
	</body>
</html>
